@font-face {
    font-family: 'Electrolize';
    src: url('fonts/Electrolize-Regular.woff2') format('woff2'),
        url('fonts/Electrolize-Regular.woff') format('woff'),
        url('fonts/Electrolize-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#icon-home {
	font-family: 'Electrolize';
}

.rst-content .admonition-time {
	background-color: #d2f8ea;
}

.rst-content .admonition-time .admonition-title {
	background-color: #2c6854;
}

.rst-content .admonition-time .admonition-title:before {
	content: '\f017';
}