name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
          fetch-depth: 0
    - name: Install dependencies
      run: |
          sudo apt-get update
          sudo apt-get install texlive-latex-recommended texlive-fonts-recommended \
                               texlive-latex-extra latexmk tex-gyre \
                               --no-install-recommends
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install Python dependencies
      run: pip install -r requirements.txt
    - name: Build documentation and deploy
      run: ./.github/workflows/build_helper.sh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
